.container {
    float: left;
    width: 15em;
    margin-right: 10px;
    position: relative;

}

.pic img {
    width: 100%;
    margin: 0px 0px 8px 0px;
}

.title {
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
}

.channel,
.views {
    font-size: small;
    color: white;
    margin-bottom: 3px;
}

span {
    padding: 5px;
}
.close{
    position: absolute;
    right: 0;
}